body,
html {
  height: 100%;
  width: 100%;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
ol,
li,
p,
select,
table,
td,
textarea,
th,
ul,
pre {
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.15;
}

img,
fieldset {
  border: 0;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

em,
address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  -webkit-appearance: none;
  background: none;
  border: 0;
}

button:not(:disabled):hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

input {
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}